body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.light{
    background-color: #f1f1f1;
}

.dark{
    background-color: #292c35;
}

button{
    background-color: transparent;
    border: none;
}